body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #d3d3d3;
  color: #006400;
  border-bottom: 2px solid #006400;
}

nav {
  background-color: #006400;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

nav ul li {
  margin: 0 15px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d3d3d3;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #006400;
  padding: 10px;
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submenu li {
  margin: 5px 0;
}

.submenu li a {
  font-size: 1em;
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.submenu li a:hover {
  color: #d3d3d3;
}

nav ul li:hover .submenu {
  display: block;
}

.title {
  background-color: #d3d3d3;
  color: #006400;
  padding: 15px;
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  color: #006400;
  margin-top: 10px;
  font-size: 1.5em;
}
